.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-clr-icon);
  color: var(--clients-clr-icon);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--timing-function),
    border 250ms var(--timing-function), transform 100ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--clients-clr-hover);
    color: var(--clients-clr-hover);
  }

  &:active {
    transform: scale(0.9);
  }
}

.clients-icon {
  fill: currentColor;
}
