.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-link {
  width: 210px;
  height: 92px;
  border: 1px solid var(--clients-clr-icon);
  color: var(--clients-clr-icon);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--timing-function),
    border 250ms var(--timing-function), transform 100ms var(--timing-function);

  @media screen and (max-width: 479px) {
    width: 170px;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--clients-clr-hover);
    color: var(--clients-clr-hover);
  }

  &:active {
    transform: scale(0.9);
  }

  @include tablet {
    width: 226px;
  }

  @include desktop {
    width: 170px;
  }
}

.clients-icon {
  fill: currentColor;
}
