.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bcg-color-hero);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;

  @include desktop {
    text-align: initial;
  }
}

@include tablet {
  .footer__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@include desktop {
  .footer__main {
    flex-wrap: nowrap;
    justify-content: initial;
    align-items: baseline;
  }
}
.address {
  text-align: center;
  margin-bottom: 60px;
  @include desktop {
    text-align: initial;
    margin-bottom: 0;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;

  @include desktop {
    margin-bottom: 9px;
  }
}

.address__map-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.address__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.socials__footer {
  margin-bottom: 60px;
  @include tablet {
    margin-left: 165px;
  }
  @include desktop {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.socials__footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
  text-align: center;

  @include desktop {
    text-align: initial;
  }
}

@include desktop {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
  @include desktop {
    text-align: initial;
  }
}

.subscribe__field {
  text-align: center;
  @include desktop {
    display: flex;
    text-align: initial;
  }
}

.subscribe__input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  display: block;
  margin-bottom: 20px;

  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @include desktop {
    width: 358px;
    margin-bottom: 0;
  }
}

@include desktop {
  .subscribe__btn {
    margin-left: 12px;
  }
}

.subscribe__btn-icon {
  margin-left: 10px;
  fill: var(--third-text-color);
}
