.header {
  background-color: var(--bcg-color-primery);
  border-bottom: 1px solid #ececec;
}

.nav__menu {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @include desktop {
    padding-top: 25px;
    padding-bottom: 24px;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: 88px;

  @include desktop {
    margin-left: 93px;
  }

  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms var(--timing-function);

  &.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
    @include desktop {
      bottom: -1px;
    }
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.current {
  color: var(--color-accent);
}

.nav__contacts {
  padding-top: 21px;
  padding-bottom: 21px;
  margin-left: 70px;

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 305px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  // display: flex;
  // margin-left: 305px;
  // .nav__item:not(:last-child) {
  //   margin-right: 30px;
  // }
  .nav__item:not(:last-child) {
    margin-bottom: 10px;
    @include desktop {
      margin-bottom: 0px;
    }
  }
}

.nav__mail,
.nav__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  transition: color 250ms var(--timing-function);

  @include desktop {
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

@include desktop {
  .nav__mail {
    margin-right: 30px;
  }
}

.nav__icon-mail {
  margin-right: 10px;
  fill: var(--primery-text-color);
  transition: fill 250ms var(--timing-function);

  .nav__mail:hover &,
  .nav__mail:focus & {
    fill: var(--color-accent);
  }
}

.nav__icon-tel {
  margin-right: 10px;
  fill: var(--primery-text-color);
  transition: fill 250ms var(--timing-function);

  .nav__tel:hover &,
  .nav__tel:focus & {
    fill: var(--color-accent);
  }
}
