.work__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work__item {
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 60px) / 3);
  }
}

.work__link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms var(--timing-function),
    transform 100ms var(--timing-function);

  &:active {
    transform: scale(0.9);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:first-child {
    height: 100%;
  }
}

.work__top-wrap {
  position: relative;
  overflow: hidden;
}

.work__description {
  position: absolute;
  top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding-top: 77px;
  padding-bottom: 77px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  color: var(--third-text-color);
  background-color: var(--bcg-color-work-desc);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  @media screen and (max-width: 479px) {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 4.65vw;
    line-height: 1.56;
  }

  @include tablet {
    padding-top: 49px;
  }
  @include desktop {
    padding-top: 63px;
    padding-bottom: 63px;
  }

  .work__link:hover &,
  .work__link:focus & {
    transform: translateY(0);
  }
}

.work__content {
  flex-grow: 1;
  padding: 20px 24px;
  background-color: var(--bcg-color-work-card);
  border: 1px solid #eeeeee;
  border-top: 0;
}

.work__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.work__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
