:root {
  --color-accent: #2196f3;
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  --main-title-color: #212121;
  --hero-title-white: #ffffff;
  --bcg-color-hero: #2f303a;
  --btn-color: #2196f3;
  --btn-color-hover: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --bcg-color-team: #f5f4fa;
  --bcg-color-primery: #ffffff;
  --bcg-color-team-card: #ffffff;
  --bcg-color-work-card: #ffffff;
  --bcg-color-features-icon: #f5f4fa;
  --bcg-color-work-desc: rgba(33, 150, 243, 0.9);
  --social-clr-primery: #afb1b8;
  --social-clr-secondary: #ffffff;
  --social-clr-bcg: #2196f3;
  --clients-clr-icon: #afb1b8;
  --clients-clr-hover: #2196f3;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
